.app {
	/*text-align: center;*/
	padding: 10% 5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: teal;
}

.card-style {
	width: 95%;
	min-height: 300px;
	border: teal 1px solid;
	box-shadow: 5px 5px lightgray;
}

.card-header {
	text-align: center;
	background-color: teal;
	height: 50px;
	padding: 10px;
}

.card-content {
	padding: 20px 20px;
}

.grid {
	display: grid;
	padding-bottom: 10px;
	grid-template-columns: 2fr 1fr 1fr;
}

.grid-spend-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 10px;
}

.col-style {
	padding-right: 10px;
	padding-bottom: 20px;
	font-size: 12px;
}
input[type=number]{
	border:1px solid teal;
}
a.ant-btn.ant-btn-block{
	border: 1px solid lightgreen;
	color: lightgreen;
	font-weight: bold;
}
.button-style {
	margin: auto;
	width: 80%;
	padding: 20px 20px;
}

.feedback-style {
	padding-top: 10px;
}

img:hover{
	box-shadow: 2px 2px lightgray;
  filter: blur(2px);
}