.slider{
	width: 100%;
	
}
.tooltip{
	position: absolute;
		top: -2em;
		left: 0%;
		font-size: 12px;
		color: gray;
		text-align: left;
	
}
.range1{
	width: 50%;
	background: green;
}
.range {
	position: relative;
	margin-top:10px;
	float: left;
	width: 100%;
}
input[type=range] {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 5px;
	padding: 0;
	border-radius: 4px;
	background: lightgray;
	box-sizing: content-box;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 25px;
	background: teal;
}